@charset "ISO-8859-1"
   a:link { text-decoration:none; font-weight:bold; color:#FFFFFF; }
   a:visited { text-decoration:none; font-weight:bold; color:#FFFFFF; }
   a:hover { text-decoration:none; font-weight:bold; background-color:#4169E1; }
   a:active { text-decoration:none; font-weight:bold; background-color:#FFFFFF; }
   a:focus { text-decoration:none; font-weight:bold; background-color:#DDA0DD; }
   pre { overflow: scroll; }
